body {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.05em;

    flex-direction: column;
    display: flex;
    min-height: 100vh;

    color: #d0bc4d;
    background-color: #240e0e;
}

html, body {
  height: 100%;
}

.content-center-large {
    flex: 1;
}

.content-gutter-large {
    padding-left: 20px;
    padding-right: 20px;
}

.content-center-large {
    max-width: 1200px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.whats-new {
    color: #d0bc4d;
}

.main {
    color: #381918;
}

@media screen and (min-width: 960px) {
    .content-gutter-large {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: -90deg;
}