body {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.05em;

    flex-direction: column;
    display: flex;

    color: #d0bc4d;
    background-color: #240e0e;
    overflow-x: hidden;

    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding-top: 80px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
    overflow: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.site-main {
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;

    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 80px;
}

.content-center-large {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.content-gutter-large {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* About Page */
.about-hero{
    max-width: 900px;
    margin: 0 auto 3rem;
}

.about-hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about-hero-text {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    color: white;
    opacity: 0.8;
    text-indent: 1.5em;
}

.about-section h2 {
    margin-bottom: 1rem;
}

.team-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 0;
}

.staff-card {
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    align-items: center;
    max-width: 900px;
    padding: 1rem 0;
    margin-top: 0.5rem;
}

.staff-card:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.staff-info {
    flex: 1;
}

.staff-card:nth-child(even) .staff-header {
    justify-content: flex-end;
}

.staff-info h3 {
    margin: 0;
    font-size: 1.5rem;
}

.staff-header {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
}

.staff-header h3 {
    margin: 0;
    line-height: 1;
}

.staff-header img {
    width: 20px;
    height: 20px;
    line-height: 1;

    filter: invert(88%) sepia(64%) saturate(553%) hue-rotate(334deg) brightness(87%) contrast(84%);
}

.staff-header a:hover img {
    transform: scale(1.2);
    opacity: 0.8;
}

.staff-info p {
    margin: 0;
    line-height: 1.5;
}

.staff-role {
    font-weight: 600;
    font-size: 1.15rem;
    opacity: 0.8;
    margin: 0.25rem 0 0.5rem 0;
}

.staff-about {
    padding-top: 1rem;
    color: white;
    font-size: 1rem;
    margin: 0;
    opacity: 0.8;
}

.staff-photo {
    width: 300px;
    height: 500px;
    border-radius: 8px;
    object-fit: cover;
    flex-shrink: 0;
}

.staff-links  {
    margin: 0.35rem 0 0.6rem;
    display: flex;
    gap: 1rem; 
}

.team-info h3 {
    margin: 0;
    font-size: 1.5rem;
}

/* Games Page */
.page-hero h1 {
    margin-bottom: 0.5rem;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 2.5rem;
}

.game-card {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.game-card-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
}

.game-card-content {
    flex: 1;
}

.game-card-content h2 {
    margin: 0 0 0.5rem ;
}

.game-card-content p {
    margin: 0;
    line-height: 1.5;
}

.game-card-placeholder {
    align-items: center;
}

.game-card-placeholder .game-card-content {
    text-align: left;
}

/* Adjust for other screens */
@media screen and (max-width: 768px) {
    .content-gutter-large {
        padding-left: 50px;
        padding-right: 50px;
    } 

    .staff-card {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .staff-card:nth-child(even) {
        flex-direction: column;
    }

    .staff-card:nth-child(even) .staff-info {
        text-align: left;
    }

    .body, .site-main {
        padding-top: 120px;
    }

    .game-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .game-image {
        width: 100%;
        height: auto;
    }
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: -90deg;
}