/* Create space under "What we're up to" heading */
.whats-new {
  margin-bottom: 1rem;
}

/* Outer carousel section */
.carousel-container {
  width: 100%;
}

/* Carousel viewport*/
.carousel,
.carousel-inner,
.cards {
  height: 800px;
}

.carousel {
  position: relative;
  width: 100vw; /* Full viewport width */
  margin-left: calc(-50vw + 50%); /* Center the carousel */

  background: linear-gradient(to bottom, #240e0e, #120606, #000000);
  overflow: hidden; /* Hide overflowing slides */
}

.carousel-inner {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

/* Card Track*/
.cards {
  flex-direction: row; /* Horizontal layout*/
  align-items: center; /* Vertically align items*/
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Cards */
.card {
  flex: 0 0 75%; /* Width of each card */
  height: 100%;

  /*Center cards*/
  display: flex;
  align-items: center;
  justify-content: center;

  /*Make cards smaller and lower opacity by default*/
  opacity: 0.25;
  transform: scale(0.75);
  transition: transform 300ms ease, opacity 300ms ease;
}

/* Highlight the center card*/
.card.is-active {
  opacity: 1;
  transform: scale(1);
  background: #381918;
}

/* Style cards*/

.carousel, .carousel-inner, .cards, .card {
  box-sizing: border-box;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #d0bc4d;
}

/* Arrows*/

.carousel-arrow {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;

  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transform: translateY(-50%);
  z-index: 10;
}

.carousel-arrow.left {
  left: 20px;
}

.carousel-arrow.right {
  right: 20px;
}

.carousel-arrow::before {
  content: '';
  width: 12px;
  height: 12px;

  border: solid #d0bc4d;
  border-width: 0 3px 3px 0;
}

.carousel-arrow.left::before {
  transform: rotate(135deg);
}

.carousel-arrow.right::before {
  transform: rotate(-45deg);
}

.carousel-arrow:hover {
  opacity: 0.85;
}
