.site-header-wrapper {
    box-sizing: border-box;
    z-index: 20000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    border: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    letter-spacing: -0.05em;

    background-color: #5c4135;

    line-height: 2;
    color: #d0bc4d;
    font-weight: 400;
}