body {
  padding-top: 80px;
  margin: 0;
}

.site-header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 3px solid black;

    height: 80px;
    box-sizing: border-box;
    z-index: 20000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;

    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    letter-spacing: -0.05em;
    text-align: left;

    color: #5c4135;
    background-color: #d0bc4d;

    line-height: 1.5;
    font-weight: 400;

    transition: background-color 0.3s ease-in-out;
}

/*
.site-header-wrapper.site-header-transparent {
    background-color: transparent;
    border-bottom: none;
}*/

.site-header-wrapper .logo {
    height: 60px;
    width: auto;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social-links a {
    display: inline-flex;
    align-items: center;
}

.social-links img {
    height: 24px;
    width: 24px;
    opacity: 0.8;
}

.social-links img:hover {
    opacity: 1.0;
}   

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: #5c4135;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: 600;
}

.nav-links a:hover {
    text-decoration: underline;
}


