body {
    padding: 1.8rem;
    padding-top: 90px;
}

.site-header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    flex-wrap: wrap;

    height: 80px;
    box-sizing: border-box;
    z-index: 20000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;

    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    letter-spacing: -0.05em;
    text-align: left;

    color: #d0bc4d;
    background-color: #240e0e;
    box-shadow: black 0px 2px 10px;

    line-height: 1.5;
    font-weight: 400;

    transition: background-color 0.3s ease-in-out;
}

.site-header-wrapper .mascot {
    height: 60px;
    width: auto;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social-links {
  display: flex;
  gap: 1.5rem;
}

.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
}

.social-links a img {
  width: 24px;
  height: 24px;
  object-fit: contain;

  filter: brightness(0.5) invert(1);
  transition: transform 0.25s ease, filter 0.25s ease;
}

.social-links a:hover img {
  transform: scale(1.2);
  filter: brightness(1.2) drop-shadow(0 0 5px #f0bc4d);
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: #d0bc4d;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: 600;
}

.nav-links a:hover {
    text-decoration: underline;
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: -90deg;
}

 /* Adjust for mobile */
@media (max-width: 768px) {
    body {
        margin: 0;
        padding-top: 100px;
    }

    .site-header-wrapper {
        flex-direction: column;
        align-items: stretch;
        height: auto;
        padding: 1rem 2rem;
    }

    .nav-links {
        justify-content: center;
        width: 100%;
        margin-top: 0.5rem;
        gap: 1.25rem;
        flex-wrap: wrap;
    }

    .nav-links a {
        margin-left: 0;
        font-size: 0.95rem;
    }

    .social-links img {
        width: 18px;
        height: 18px;
    }

}


