/* Font and Color */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #341916;
  color: #fff8e1;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1b73f;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 60px;
  width: 60px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  font-weight:600;
  color: #341916
}

/*News Section*/
.news-preview {
  margin-top: 100px;
  padding: 40px 20px;
  background-color: #47201a;
  text-align:center;
}

.news-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav-arrow {
  font-size: 24px;
  background: none;
  border: none;
  color: #f1b73f;
  cursor: pointer;
}

.news-items {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.news-card {
  background-color: #341916;
  border: 2px solid #f1b73f;
  border-radius: 10px;
  padding: 20px;
  min-width: 250px;
}

.news-card button {
  margin-top: 10px;
  background-color: #f1b73f;
  border: none;
  color: #341916;
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
}

/*Games Preview Section*/
.games-preview {
  padding: 40px 20px;
  background-color: #341916;
  text-align:center;
}

.games-row {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.games-card {
  background-color: #47201a;
  width: 200px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.hover-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(241, 183, 63, 0.9);
  color: #341916;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.game-card:hover .hover-overlay {
  opacity: 1;
}

.hover-overlay button {
  background-color: #341916;
  border: none;
  color: #f1b73f;
  padding: 8px 12px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}

/*Footer*/
footer {
  background-color: #f1b73f;
  color: #341916;
  padding: 30px 20px 10px;
  margin-top: 40px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer nav {
  display: flex;
  gap: 15px;
}

.contact {
  margin-top: 10px;
}

.contact h4 {
  margin: 0;
}

footer .logo {
  height: 50px;
}

footer p {
  text-align: center;
  font-size: 0.9em;
  margin-top: 20px;
}