body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #121212;
  color: #f2f2f2;
}

.header {
  background-color: #2d1200;
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 40px;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #f2c744;
  font-weight: 500;
}

.content {
  padding: 60px 50px;
}

h2 {
  color: #f2c744;
  text-align: center;
  margin-bottom: 30px;
}

/* Carousel Container */
.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 100px;
  overflow: hidden;
}

.carousel-track-container {
  overflow: hidden;
  width: 960px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  background-color: #2d2d2d;
  padding: 20px;
  margin: 0 10px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  flex-shrink: 0;
  transition: transform 0.3s, box-shadow 0.3s;
  opacity: 0.6;
}

.carousel-item.active {
  transform: scale(1.1);
  box-shadow: 0 0 20px #f2c744;
  opacity: 1;
}

.carousel-btn {
  background-color: #2d1200;
  border: none;
  color: #f2f2f2;
  font-size: 24px;
  cursor: pointer;
  padding: 12px;
  z-index: 1;
}

/* Games Section */
.games-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 200px;
}

.game-card {
  background-color: #2d2d2d;
  padding: 24px;
  border-radius: 10px;
  width: 260px;
  text-align: center;
  height: 380px;
}

.content {
  min-height: 200vh;
}


.footer {
  background-color: #2d1200;
  color: #f2f2f2;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-left,
.footer-center,
.footer-right {
  margin: 5px 0;
}

.footer-center a {
  margin: 0 10px;
  color: #f2c744;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 10px;
  font-size: 0.9em;
  color: #ccc;
}
